body {
  margin: 0;
  padding: 0;
}

#btn1:hover {
  color: gray;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.nav-item {
  margin-left: 90px;
}

ul li a {
  font-size: 18px;
}

/* #a89c94ff f0f6f7ff */
/* navigointi palkin väri muutto */
.navbar-custom {
    background-color: #333;
}

/* navigointi palkin teksin värin muutto */
.navbar-text {
    color: #333;
}

/* Tuote tyylittely */
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
    &:hover {
      transform: translateY(-20px);
    }
    img {
      width: 100%;
    }
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  font-family: 'Nunito', sans-serif;
    &::after {
      content: '';
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
}

h4 {
  color: #555;
  font-weight: normal;
  font-family: 'Mukta', sans-serif;
}


/* Arvostelus iconi väri */
.rating .fas {
  color: #ff523b;
}

/* Footer */
footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
    p {
      color: #8a8a8a;
    }
    h3 {
      color: #fff;
      margin-bottom: 20px;
    }
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
    img {
      width: 180px;
      margin-bottom: 20px;
    }
}

.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
    img {
      width: 140px;
    }
}

/* Sisällön keskitys */
@media only screen and (max-width: 619px) {
  .col-4 {
    margin: 0 auto;
  }
}

/* Sisällön keskitys */
@media only screen and (max-width: 600px) {
   .carousel-inner {
    height: 140px;
  }
  .carousel-inner img {
   height: 140px;
 }
}

@media only screen and (max-width: 575px) {
  .footer-col-1 {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 499px) {
  .footer-col-1 {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 499px) {
  .footer-col-3, .footer-col-4 {
    margin: 0 auto;
  }
}
